.todoItem {
  height: 45px;
  display: flex;
  align-items: center;
  margin: 0 15px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ececec;
}

.todoItem-title {
  flex: 1 1 auto;
  font-size: 15px;
}

.todoItem-completed {
  text-decoration: line-through;
}

.todoItem-star {
  font-size: 15px;
}

.todoItem-star-active {
  color: red;
}
